* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    background-image: url('/Files/Media/dish-5.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 2s;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: hsla(0, 0%, 0%, 0.95);
    color: hsl(0, 0%, 90%);
}

.h-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.h-logo img {
    width: 50px;
    border-radius: 10px;
}

.l-name {
    text-wrap: nowrap;
    font-family: "Sofia", sans-serif;
}

/* .menu {

} */

.menu img {
    width: 50px;
}

nav {
    display: none;
}

main {
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: hsla(0, 0%, 0%, 0.85);
    /* backdrop-filter: blur(20px); */
}

main h1 {
    text-align: center;
    font-family: "Sofadi One";
    font-weight: 10;
    font-size: 250%;
    z-index: 20;
}

main p {
    text-align: center;
    font-family: "sofadi one";
    font-size: 150%;
    padding-bottom: 15%;
    z-index: 20;
}

button {
    background: hsla(0, 0%, 100%, 0);
    padding: 1%;
    border: 1.5px solid hsl(300, 100%, 37%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    scale: 2;
    font-family: "sofia";
    z-index: 99;
}

.dish {
    position: fixed;
    padding: 2%;
    bottom: 30px;
    right: 20px;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 15px;
    overflow: hidden; /* Hide overflow for smooth effect */
    transition: background-image 2s ease-in-out, transform 2s ease-in-out;
    z-index: 10; /* Ensure .dish is above body */
}

.dish.animate {
    animation: moveOut 2s forwards;
}

.dish.reset {
    animation: slideIn 1s forwards;
}

@keyframes moveOut {
    0% {
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(10) translateX(-50%) translateY(-50%); /* Moves to the center of the viewport */
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(200px); /* Start from the right side */
        opacity: 0;
    }
    100% {
        transform: scale(1) translateX(0); /* End at the original position */
        opacity: 1;
    }
}